<!DOCTYPE html>
<html lang="pl">

<head>
    <title>[400] SecureApp -> Redis + Session</title>
    <meta charset="utf-8">
    <link href="./static/styles/style.css" rel="stylesheet" type="text/css">
</head>

<body class="registration_body">
    <article>
        <h1>400!</h1>
        <p>
            <h2>No chyba jednak coś się pomyliło komuś. </h2>
            <br/>
            Chyba właśnie miało miejsce nie do końca udane żądanie. Spróbuj innego ;)
            <br/>
            <a href="/">Strona główna</a>
        </p>
        <p>
            <strong>Szczegóły błędu:</strong>
            {{error}}
        </p>
    </article>
</body>

</html>