<!DOCTYPE html>
<html lang="pl">

<head>
    <title>[401] SecureApp -> Redis + Session</title>
    <meta charset="utf-8">
    <link href="./static/styles/style.css" rel="stylesheet" type="text/css">
</head>

<body class="registration_body">
    <article>
        <h1>401!</h1>
        <p>
            <h2>Nie ma tak dobrze w życiu, że bez zalogowania.</h2>
            <br/>
            Najpierw proszę się przywitać, przedstawić się. Dopiero potem tu zaglądać.
            <br/>
            <a href="/login">Zaloguj się!</a>
        </p>
        <p>
            <strong>Szczegóły błędu:</strong>
            {{error}}
        </p>
    </article>
</body>

</html>