<!DOCTYPE html>
<html lang="pl">

<head>
    <title>[403] SecureApp -> Redis + Session</title>
    <meta charset="utf-8">
    <link href="./static/styles/style.css" rel="stylesheet" type="text/css">
</head>

<body class="registration_body">
    <article>
        <h1>403</h1>
        <p>
            <h2>Są w miejsca w które lepiej nie zaglądać... </h2>
            <br/>
            Wróć proszę grzecznie na stronę główną, to zapomnę, że Cię tu widziałem i nikomu o tym nie powiem. ;)
            <br/>
            
            <a href="/">Strona główna</a>
        </p>
        <p>
            <strong>Szczegóły błędu:</strong>
            {{error}}
        </p>
    </article>
</body>

</html>